@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Luxurious+Roman & display=trocar');

@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

:root {
--cor0:#FFFFFF;
--cor1:#AB9C87;
--cor2:#0068A8;
--cor3:#78C5F5;
--cor4:#F59A1B;
--cor5:#FFC370;
--cor:#000000;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-segundaria: 'Luxurious Roman', cursiva;
--font-terceira: 'Iceberg', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to top, #0068A8, #78C5F5);
    font-family: var(--fonte-segundaria);
    min-height: 150px;
}

header > div > h1 {
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    color: var(--cor0);
    text-shadow: 0.05em 0.05em 0.05em var(--cor);
}

nav {
    text-align: right;
    font-size: 20px;
    color: var(--cor0);
    font-family: var(--font-terceira);
    margin-right: 20px;
    padding-top: 20px;
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    padding-right: 5px;
    text-shadow: 0.05em 0.05em 0.05em var(--cor);
    font-size: 20px;
}

nav > a:hover {
    background-color: var(--cor);
    border-radius: 10px;
    transition-duration: 0.3s;
}

main {
    background-color: white;
    text-align: justify;
    margin: auto;
    padding: 20px;
    min-width: 320px;
    max-width: 1050px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 25px;
    line-height: 1.5em;
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--cor);
    font-family: var(--font-terceira);
    background-image: linear-gradient(to right, #78C5F5, #0068A8);
}

.logotipo {
    padding-left: 20px;
    padding-bottom: 10px;
    display: inline;
    width: 7%;
    height: 7%;
}

img {
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
}

.imagemgrande {
width: 100%;
}

.fotoum {
    padding-top: 20px;
}

legend {
    text-align: center;
    font-size: 8px;
}

.direitosautorais {
    text-align: right;
}

main h1 {
    font-family: var(--fonte-segundaria);
    font-size: 60px;
    text-align: center;
}

main > article > p > strong {
    color: var(--cor2);
    background-color: var(--cor3);
    font-family: var(--fonte-segundaria);
    font-size: 20px;
    border-radius: 3px;
}

.video {
    margin: auto;
    padding: 20px;
    position: relative;
    width: 95%;
    height: 100%;
}

.button{
    display: inline-block;
    width: 4%;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

.fundo {
    display: block;
    background-image: url(imagens/000.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


footer {
    text-align: center;
    background-color: var(--cor);
    color: var(--cor0);
    padding-top: 5px;
}
